spawn-sh-at-startup "waybar"
spawn-sh-at-startup "~/.config/swayidle-script.sh"
spawn-sh-at-startup "swaybg -m fill -i ~/Pictures/Wallpapers/wallpaper.jpg"
spawn-sh-at-startup "wl-paste --watch cliphist store"

input {
    keyboard {
        xkb {
            layout "us,it"
            options "grp:win_space_toggle"
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "adaptive"
        scroll-method "two-finger"
    }

    mouse {
        accel-profile "flat"
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}

// You can configure outputs by their name, which you can find by running `niri msg outputs`.
// Find more information on the wiki: https://yalter.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    scale 1
    focus-at-startup
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    always-center-single-column
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.66666
    }

    default-column-width { proportion 0.66666; }

    focus-ring { off; }

    border {
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
prefer-no-csd

// You can change the path where screenshots are saved.
screenshot-path "~/Pictures/Screenshots/%d-%m-%Y_%H-%M.png"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki: https://yalter.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regex works for both host Firefox ("firefox") and Flatpak Firefox ("org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Blocks out two password managers from screen capture.
//window-rule {
    //match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    //match app-id=r#"^org\.gnome\.World\.Secrets$"#
    //block-out-from "screen-capture"
//}

binds {
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt when running as a winit window.
    // Most actions that you can bind here can also be invoked programmatically with `niri msg action do-something`.
    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.

    // Shows a list of important hotkeys.
    Mod+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Return hotkey-overlay-title="Run an Application: wofi" { spawn-sh "pidof wofi || wofi -a --conf ~/.config/wofi/config --style ~/.config/wofi/style.css"; }
    Super+Shift+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn-sh "swaylock -f"; }
    Super+V hotkey-overlay-title="Run a clipboard manager: cliphist" { spawn-sh "pidof wofi || cliphist list | wofi -a --conf ~/.config/wofi/config --style ~/.config/wofi/style.css --dmenu --pre-display-cmd \"echo '%s' | cut -f 2\" | cliphist decode | wl-copy"; }

    XF86AudioRaiseVolume    allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ 5%+"; }
    XF86AudioLowerVolume    allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ 5%-"; }
    XF86AudioMute           allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_SINK@ toggle"; }
    XF86AudioMicMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_SOURCE@ toggle"; }

    XF86MonBrightnessUp     allow-when-locked=true { spawn-sh "brightnessctl set 10%+"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn-sh "brightnessctl set 10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+0 { move-column-to-workspace 10; }

    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+V       { toggle-window-floating; }

    // Toggle tabbed column display mode.
    Mod+W { toggle-column-tabbed-display; }

    Mod+Shift+S { screenshot; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
